.calculator{
    display: flex;
}
.calculator-item{
    padding: 0 15px;
}
.calculator-sign{
    padding: 0 15px;
}
.calculator-answer{
    padding: 0 15px;
}
.calculator-results {
    margin-top: 30px;
    padding: 0 15px;
}